@model assignment1.Models.BPMeasureModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>BPMeasureModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Systolic" class="control-label"></label>
                <input asp-for="Systolic" class="form-control" />
                <span asp-validation-for="Systolic" class="text-danger"></span>
                
            </div>
            <div class="form-group">
                <label asp-for="Diastolic" class="control-label"></label>
                <input asp-for="Diastolic" class="form-control" />
                <span asp-validation-for="Diastolic" class="text-danger"></span>
            </div>
            
         
                    
              <div class="form-group">
    <label asp-for="positionId" class="control-label"></label>
    <select asp-for="positionId" class="form-control" asp-items="ViewBag.PositionList">
        <option value="">Select a measurement position</option>
    </select>
    <span asp-validation-for="positionId" class="text-danger"></span>
</div>

            <div class="form-group">
                <label asp-for="MeasurementDate" class="control-label"></label>
                <input asp-for="MeasurementDate" class="form-control" />
                <span asp-validation-for="MeasurementDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                 <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
